.env
.venv

.vscode/
*.pyc
__pycache__
**__pycache__/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/pyvenv.cfg
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/Activate.ps1
venv/bin/f2py
venv/bin/f2py3
venv/bin/f2py3.11
venv/bin/normalizer
venv/bin/pip
venv/bin/pip3
venv/bin/pip3.11
venv/bin/pipenv
venv/bin/pipenv-resolver
venv/bin/playwright
venv/bin/py.test
venv/bin/pytest
venv/bin/python
venv/bin/python3
venv/bin/python3.11
venv/bin/slugify
venv/bin/virtualenv
venv/bin/virtualenv-clone
venv/include/site/python3.11/greenlet/greenlet.h

.DS_Store.DS_Store
.DS_Store

config.py